.products{
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    padding: 25px;
}
.product-info {
    width: 285px;
    margin-left: 98px;
    font-size: 16px;
}
.image img {
    width: 270px;
}
.product-info small{
    font-weight: bold;
}
.product-info h2{
    margin-top: 13px;
    margin-bottom: 30px;
}
.product-info button{
    border: none;
    outline: none;
    padding: 9px 22px;
    background-color: #fcd588;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    
}
.product-info .cartIcon{
    color: black;
    margin-right: 8px;
}
.star{
    margin-bottom: 30px;
    color: #F29A2E;
    font-size: 20px;
}